.main-nav-logos {
  display: flex;
  align-items: center;
}

@media (min-width: @mobile-width) {
  .main-nav-logos {
    width: 280px;
    justify-content: space-between;
    margin: 0 auto;
  }

  .main-nav-logos__logo {
    margin: 10px 0 18px 0;
  }

  .main-nav-logos__logo-letters {
    margin: 23px 0 24px 0;
  }

  .main-header__toggle--close {
    margin: 23px 0 25px 0;
    border: none;
    background-color: @white;
  }

  .main-header__toggle--open {
    border: none;
    background-color: @white;
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .main-nav-logos {
    display: flex;
    align-items: center;
    width: 174px;
    margin: 0;
  }

  .main-nav-logos__logo {
    margin: 9px 0 0 12px;
  }

  .main-nav-logos__logo-image {
    width: 60px;
    height: 50px;
    margin: 0;
  }

  .main-nav-logos__logo-letters {
    width: 101px;
    height: 19px;
    margin: 0;
  }

  .main-header__toggle--close {
    display: none;
  }

  .main-header__toggle--open {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav-logos {
    display: flex;
    align-items: center;
    min-width: 202px;
    margin: 0;
  }

  .main-nav-logos__logo {
    margin: 13px 0 0 14px;
  }

  .main-nav-logos__logo-image {
    width: 70px;
    height: 57px;
    margin: 0;
  }

  .main-nav-logos__logo-letters {
    width: 118px;
    height: 22px;
    margin: 0;
  }

  .main-header__toggle--close {
    display: none;
  }

  .main-header__toggle--open {
    display: none;
  }
}
