// Colors

@basicgreen: #68B738;
@lightgrey: #EAEAEA;
@darkgrey: #444444;
@lightblack: #222222;
@specialblack: #111111;
@white: #ffffff;

// Viewports

@tablet-width: 770px;
@desktop-width: 1300px;
@mobile-width: 320px;
