// Colors

@basicgreen: #68b738;
@darkgreen: #5eaa2f;
@lightgrey: #eaeaea;
@middlegrey: #ebebeb;
@darkgrey: #444444;
@lightblack: #222222;
@specialblack: #111111;
@white: #ffffff;

// Viewports

@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width: 320px;
@mobile-width-only: 767px;
